@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --color-text: #051513;
    --color-bg: #e8f0ef;
    --color-text-faint: #899492;
    --color-switcher-bg: #dde9e7;
    --color-surface: #fff;
    --color-surface-inverse: #fff;
    --color-surface-inverse-search: #fff;
    --color-border-muted: #c0cfcc;
    --color-favicon-border: #e8f0ef;
}

[data-theme='dark'] {
    --color-bg: #001414;
    --color-text: #ffffff;
    --color-text-faint: #004746;
    --color-switcher-bg: #004241;
    --color-surface: #001f1f;
    --color-surface-inverse: #001f1f;
    --color-surface-inverse-search: #002e2d;
    --color-border-muted: #004241;
    --color-favicon-border: #004241;
}

/* Нормализация блочной модели */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Убираем margin у заголовком, у которых есть class */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

/* Убираем стандартный маркер у списков, где есть class */
:where(ul[class]) {
    list-style: none;
}

html {
    /** Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта)*/
    height: 100%;

    /** Убираем скачок интерфейса по горизонтали при появлении / исчезновении скроллбара */
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}


body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;

    background-color: var(--color-bg);
    color: var(--color-text);

    transition-duration: 0.2s;
}

.container {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section:not(:last-child) {
    margin-block: 50px;
}

.header {
    background-color: var(--color-surface);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-block: 20px;
}

.nav-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 10px;
}

.nav-list__link:hover {
    color: var(--color-text-faint);
}

.toggle-theme {
    border: none;
    border-radius: 10px;
    background-color: var(--color-surface-inverse);
    box-shadow: inset 0 0 0 2px var(--color-border-muted);
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    color: inherit;
}

.toggle-theme:hover {
    background-color: var(--color-bg);
}

.section--home, .section--about {
    display: flex;
}

.section__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.section__img img {
    width: 258px;
    height: 320px;
}

@media (max-width: 555px) {
    .section__img {
        display: none;
    }
}

.home__initials {
    margin-block: 10px;
}

.home__specialty {
    margin-bottom: 20px;
}

.home__actions {
    display: flex;
    gap: 20px;
}

.action {
    border: none;
    border-radius: 10px;
    background-color: var(--color-surface-inverse);
    box-shadow: inset 0 0 0 2px var(--color-border-muted);
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
}

.action:hover {
    background-color: var(--color-bg);
}

.title {
    margin-bottom: 30px;
}

.competencies__title {
    font-size: 18px;
}

.competencies__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

.competencies__item::marker {
    content: "✔ ";
    color: #10b981;
    font-weight: bold;
}

.skills__body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skills__settings {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.skills__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    padding: 0;
    box-shadow: rgba(34, 38, 39, 0.1) 0 6px 14px;
    border: 3px solid var(--color-favicon-border);
    border-radius: 10px;
    background-color: var(--color-surface-inverse-search);
}

.skills__category {
    cursor: pointer;
    padding: 10px 8px;
}

.skills__search {
    border-radius: 10px;
    border: 0;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    box-shadow: rgba(10, 13, 18, 0.05) 0 6px 14px;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    padding: 0;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-surface);
    border-radius: 8px;
    gap: 10px;
    padding: 10px;
}

.skills__item span {
    margin: 0;
    text-align: center;
    color: var(--color-text);
}

.skills__item svg {
    width: 100%;
    fill: var(--color-text);
}


@media (max-width: 786px) {
    .skills__categories {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
    }

    .skills__search {
        width: 100%;
    }
}

.works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.work {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work__image {
    width: 100%;
    height: auto;
}

.work__title {
    margin: 0 0 10px;
}

.work__description {
    margin: 0 0 10px;
}

.tools__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    padding: 0;
    margin: 0;
}

.tools__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-surface);
    border-radius: 8px;
    gap: 10px;
    padding: 10px 15px;
}

.tools__item svg {
    width: 50px;
    height: 50px;
    fill: var(--color-text);
}

.tools__item p {
    margin: 0;
    text-align: center;
}

.footer {
    margin-top: 100px;
    padding: 70px;
    background-color: var(--color-surface);
}

.footer--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
}

.footer__title p {
    font-size: 32px;
    margin: 0;
    overflow-wrap: break-word
}

@media (max-width: 768px) {
    .footer__title p {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .footer__title p {
        font-size: 20px;
    }
}

.contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.contacts__link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contacts__item svg {
    width: 24px;
    height: 24px;
    fill: var(--color-text);
}

.soc1als__list {
    padding: 0;
    margin: 0;
}

.soc1als__link svg {
    width: 50px;
    height: 50px;
    fill: var(--color-text);
}